.row-fondo-4 {
    background-color: #501a9a;
}
.col5-redes {
    display: block;
    padding: 50px 70px;
    background-color: #32076c;
}
.logo-footer {
    width: 155px;
    object-fit: contain;
}
.col5-redes p {
    color: #fff;
    font-size: 14px;
    text-align: left;
    margin: 7px 0 20px;
}
.col7-enlaces {
    padding: 35px 15px;
}
.rowtextF {
    padding: 20px 200px 20px 49px;
}
.rowtextF h6 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.rowtextF a:hover {
    text-decoration: none;
}
.redes-sociales-f-2 {
    width: 40px !important;
    object-fit: contain;
    margin-right: 10px;
}
.redes-sociales-i-2 {
    width: 40px !important;
    object-fit: contain;
    margin-right: 10px;
}
.redes-sociales-l-2 {
    width: 40px !important;
    object-fit: contain;
    margin-right: 10px;
}
.col12-form {
    z-index: 999;
    display: flex;
    font-size: 14px;
    margin-top: 40px;
    align-items: center;
    justify-content: flex-end;
}
.col12-form p {
    /* width: 31%; */
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: -4px;
}
.group-footer {
    display: flex;
    margin-bottom: 0;
}
.group-footer input {
    height: 38px;
    border: none;
    width: 270px;
    font-size: 13px;
    background-color: #fff;
    border-radius: 25px;
}
.boton-sucripcion {
    width: 125px;
    height: 38px;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 9px 10px;
    margin-left: -35px;
    border-radius: 25px;
    font-family: "Poppins";
    background-color: #ea4262;
}
.boton-sucripcion img {
    width: 20px;
    object-fit: contain;
    margin-left: 10px;
}
.edit-footer {
    width: 100%;
    color: #fff;
    padding: 14px;
    font-size: 14px;
    text-align: center;
    background-color: #1360d9;
}
.edit-footer a {
    color: #fff;
}
.divRedes {
    margin-top: 20px;
}

@media (max-width: 1130px) {
    .col5-redes {
        padding: 40px;
    }
    .rowtextF {
        padding: 20px 100px 20px 49px;
    }
}

@media (max-width: 991px) {
    .col5-redes {
        padding: 40px;
    }
    .col12-form {
        display: block;
        margin-top: 0px;
    }
    .col12-form p {
        text-align: center;
    }
    .group-footer {
        margin-top: 15px;
        justify-content: center;
    }
    .rowtextF {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .col5-redes {
        padding: 20px;
    }
    .logo-footer {
        margin: auto;
        display: block;
    }
    .col5-redes p {
        text-align: center;
        margin: 7px 0 12px;
    }
    .col7-enlaces {
        padding: 35px 0px;
    }
    .rowtextF {
        padding: 20px 0;
    }
    .divRedes {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .group-footer input {
        width: 100%;
    }
}
