* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #1464e1;
    border-radius: 5px;
}
.modal-open .modal,
.modal {
    z-index: 20000;
    background: rgba(0, 0, 0, 0.8) !important;
}
button:focus,
button:active {
    outline: 0px !important;
    box-shadow: none !important;
}
.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
a {
    cursor: pointer !important;
}
p,
button,
input,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Open San, sans-serif;
}
@font-face {
    font-family: "Antonio-Light";
    src: url("fonts/Antonio-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Antonio-Regular";
    src: url("fonts/Antonio-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Geometos";
    src: url("fonts/Geometos-Rounded.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
.modal-body {
    padding: 33px;
}

.dropdown-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* row navbar Peers */
.header-volver {
    padding: 20px 20px 5px;
    background-color: #f8f8f8;
}
.header-volver p {
    font-size: 15px;
    color: #040589;
    margin-bottom: 0;
    text-align: right;
}
.header-volver p span {
    font-size: 13px;
    letter-spacing: 3px;
    color: #040589;
    font-family: "Geometos";
}
.header-volver p a,
.header-volver p a:hover {
    text-decoration: none;
}
.header-volver img {
    width: 45px;
    margin: 0 7px;
}

/* row form buscar */
.row-form-navbar {
    align-items: center;
    background-color: #f8f8f8;
}
.logo-form {
    margin: auto;
    display: block;
}
.row-form-navbar .input-group {
    padding: 3px;
    align-items: center;
    border-radius: 25px;
    background-color: #5c15b7;
}
.row-form-navbar .input-group-text {
    border: none;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
}
.row-form-navbar .input-group-addon {
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0px 25px 25px 0;
}
.row-form-navbar .input-group-addon i {
    color: #5c15b7;
    vertical-align: -webkit-baseline-middle;
}
.drop-zona {
    height: 35px;
    width: 230px;
    border: none;
    z-index: 1050;
    font-size: 14px;
    color: #232a85;
    padding: 5px 25px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
}
.drop-zona button {
    height: 35px;
    width: 230px;
    border: none;
    z-index: 1050;
    font-size: 14px;
    color: #232a85;
    padding: 5px 25px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
}
.drop-zona button:hover {
    color: #232a85;
}
.drop-zona .filter-option {
    height: auto !important;
}
.drop-zona:hover,
.drop-zona:focus,
.drop-zona button:hover,
.drop-zona button:focus {
    background-color: #fff;
}
.divdropdownZona .btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    background-color: #fff;
}
.bs-searchbox {
    padding: 15px 5px !important;
}
.bs-searchbox input {
    padding: 8px !important;
    height: 30px !important;
    font-size: 14px !important;
    color: #151a30 !important;
    border-radius: 0px !important;
    border: 1px solid #707070 !important;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: 0px !important;
}
.divdropdownZona {
    display: flex;
    width: 230px;
}
li .selected,
li .selected:hover {
    color: #fff !important;
    background-color: #232a85 !important;
}
.divdropdownZona .dropdown-menu {
    margin-top: -20px;
    padding: 15px 0px 5px;
    border: 3px solid #232a85;
    width: -webkit-fill-available;
    border-radius: 3px 0 20px 20px;
}
.divdropdownZona .option {
    color: #232a85;
    font-size: 13px;
    font-family: "Poppins";
}
.divdropdownZona .option:hover {
    color: #ff103d;
    background-color: transparent;
}
/* .divdropdownZona .dropdown-menu a:hover{
    color: #FF103D;
    border-radius: 25px;
} */
.divdropdownZona .dropdown-item {
    color: #232a85;
    font-size: 13px;
    font-family: "Poppins";
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: 0px;
}
.row-form-navbar .input-group input {
    height: 35px;
    border: none;
    padding-left: 0;
    font-size: 15px;
    color: #707070;
}
.row-form-navbar .input-group input:focus,
.row-form-navbar .input-group input:active {
    outline: 0px;
    box-shadow: none;
}

/* form button-idioma */
.content-buttons {
    display: flex;
    justify-content: center;
}
.content-buttons button {
    height: 37px;
    border: none;
    margin: 0 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 15px;
    text-align: center;
    border-radius: 25px;
    font-family: "Poppins";
}
.content-buttons button img {
    width: 27px;
}
.crear-cuenta {
    width: 155px;
    z-index: 999;
    position: relative;
    background-color: #1464e1;
}
.drop-crear-cuenta .dropdown-menu {
    z-index: 99;
    width: 155px;
    min-width: 155px;
    margin-top: -20px;
    padding: 30px 0px 12px;
    background-color: #f2f2f2;
    border-radius: 3px 0 22px 22px;
}
.drop-crear-cuenta .dropdown-item {
    color: #1464e1;
    font-size: 13px;
    padding: 0px 20px 5px;
    font-family: "Poppins";
}
.drop-crear-cuenta .dropdown-item img {
    width: 18px;
    height: 13px;
    margin-right: 7px;
    object-fit: cover;
}
.prsn {
    width: 18px !important;
}
.drop-crear-cuenta .dropdown-item:hover {
    color: #ff103d;
    background-color: transparent;
}
.ingresar {
    background-color: #501a9a;
}
.select-idioma {
    width: auto;
    padding: 7px;
    height: 37px;
    border: none;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #232a85;
    font-family: "Poppins";
}
.select-idioma:focus,
.select-idioma:active {
    outline: 0px;
    color: #fff;
    box-shadow: none;
    background-color: #232a85;
}

/* Navbar */
.navbar {
    padding: 20px 50px;
    background-color: #f8f8f8;
}
.navbar-light .navbar-nav .nav-link,
.linkcarrito {
    height: 12px;
    display: flex;
    color: #232a85;
    font-size: 13px;
    cursor: pointer;
    padding: 0 15px 0;
    align-items: center;
    font-family: "Poppins";
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    outline: 0px;
    color: #ff103d;
    box-shadow: none;
}
.logo-brand {
    display: none;
}
.line-right {
    border-right: 2px solid #232a85;
}
.nav-item {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar-light .navbar-nav .active > .navdropSubass,
.navbar-light .navbar-nav .navdropSubass.active,
.navbar-light .navbar-nav .navdropSubass.show,
.navbar-light .navbar-nav .show > .navdropSubass {
    color: #fff;
}
.navdropSubass button {
    width: 150px;
    font-size: 13px;
    border-radius: 25px;
    background: #ff103d;
    justify-content: center;
    z-index: 1000 !important;
    color: #fff !important;
    font-family: "Poppins";
    padding: 8px 12px !important;
}
.navdropSubass button:hover,
.navdropSubass button:active,
.navdropSubass button:focus {
    background: #ff103d !important;
}
.liLisDrop .dropdown-menu {
    top: 20px;
    z-index: 99;
    min-width: 150px;
    padding: 15px 0px 5px;
    background-color: #fff;
    border: 3px solid #ff103d;
    border-radius: 3px 0 20px 20px;
}
.liLisDrop .dropdown-item {
    color: #232a85;
    font-size: 13px;
    font-family: "Poppins";
}
.liLisDrop .dropdown-item:hover {
    color: #ff103d;
    background-color: transparent;
}
.liLisDrop .dropdown-menu a:hover {
    color: #ff103d;
    border-radius: 25px;
}
.carrito {
    width: 25px;
    margin-left: 5px;
}
.linkcarrito {
    position: relative;
}
.linkcarrito .badge {
    right: 8px;
    top: -11px;
    color: #fff;
    padding: 3px 5px;
    position: absolute;
    border-radius: 25px;
    background-color: #ff103d;
}
.row-drop-responsive {
    display: none;
}

/* Redes */
.ul-redes-fixed {
    right: 5px;
    top: 20%;
    z-index: 9999;
    position: fixed;
    list-style: none;
}
.ul-redes-fixed img {
    width: 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s;
}
.ul-redes-fixed img:hover {
    transform: scale(1.2);
}

/* Modal Login */
.content-modal {
    border-radius: 0px;
    background-color: #fff;
}
.logo-modal {
    width: 230px;
    display: block;
    margin-left: -5px;
    margin-right: auto;
}
.text-pujaT {
    display: flex;
    align-items: center;
}
.text-pujaT span {
    color: #0c0f3d;
    font-size: 18px;
    margin-left: 30px;
    letter-spacing: normal;
    font-family: "Poppins";
}
.online {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-left: 8px !important;
    background-color: #00ff6c;
}
.content-modal .close {
    padding: 0;
    opacity: 1;
    width: 37px;
    height: 37px;
    color: #fff;
    font-size: 22px;
    border-radius: 25px;
    background-color: #0c0f3d;
    margin: 0.5rem -1.5rem -2rem auto !important;
}
.content-modal .close span {
    vertical-align: text-top;
}
.row-form h5 {
    color: #0c0f3d;
    text-align: left;
    margin: 15px 0 10px;
    font-family: "Poppins";
}
.row-form .text-LGn {
    margin: 0 0 3px;
    color: #0c0f3d;
    font-size: 11.5px;
    text-align: left;
    font-family: "Poppins";
}
.input-login {
    padding: 0;
    width: 55%;
    color: #0c0f3d;
    font-size: 15px;
    margin: 15px 0 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #0c0f3d;
}
.input-login:hover,
.input-login:focus {
    color: #0c0f3d;
    outline: 0px;
    box-shadow: none;
    border-color: #0c0f3d;
    background-color: transparent;
}
.input-login::-webkit-input-placeholder {
    color: #0c0f3d;
}
.input-login:-ms-input-placeholder {
    color: #0c0f3d;
}
.input-login::placeholder {
    color: #0c0f3d;
}
.olvideclave {
    color: #0c0f3d;
    font-size: 11px;
    margin: 15px 0 0;
    text-align: left;
    text-decoration: underline;
}
.container-button-modal {
    display: flex;
    margin: 20px 0 10px;
    align-items: center;
}
.container-button-modal button {
    color: #fff;
    font-size: 13px;
    padding: 8px 25px;
    border-radius: 25px;
    font-family: "Poppins";
}
.container-button-modal button img {
    width: 17px;
    vertical-align: middle;
}
.container-button-modal button:hover {
    color: #fff;
}
.ConBttos2 {
    justify-content: center;
}
.textLgnn {
    font-size: 15px;
    color: #0c0f3d;
    margin: 0 5px;
}
.enviar {
    /*width: 100%;*/

    margin-right: 15px;
    border-color: #070926;
    background-color: #070926;
}
.google {
    margin-right: 10px;
    border-color: #0056b7;
    background-color: #0056b7;
}
.facebook {
    border-color: #1464e1;
    background-color: #1464e1;
}
.img-capcha {
    width: 60%;
    margin: 20px 0 5px;
}

/* modal agregar al carrito */
.agregado-carrito h4 {
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    margin: 20px 0 5px;
    color: #ff103d;
    text-align: center;
    font-family: "Poppins";
}
.agregado-carrito p {
    width: 100%;
    font-size: 15px;
    color: #707070;
    text-align: center;
}
.agregado-carrito button {
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 10px 42px;
    border-radius: 25px;
    margin: 15px 10px 20px;
    font-family: "Geometos";
    background-color: #232a85;
}
.seguir {
    background-color: #ff103d !important;
}
.div-alignc {
    display: flex;
    justify-content: center;
}

.swal2-container {
    z-index: 99999 !important;
}
.d-none {
    display: none;
}

/* Modal confirmacion entrega */
.moda-info-global {
    z-index: 30000 !important;
}
.label-titulo {
    margin: 25px 0 0;
    color: #232a85;
    text-align: center;
    font-family: "Poppins";
}
.row-titleEntrega p {
    font-size: 14px;
    color: #707070;
    margin: 10px 120px;
    text-align: center;
}
.p_negrillas {
    color: #232a85 !important;
    font-family: "Poppins";
}
.row-titleEntrega p a {
    color: #232a85;
    font-family: "Poppins";
}
.contn-entrega {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.contn-entrega button {
    border: none;
    width: 20%;
    color: #fff;
    font-size: 12px;
    margin: 0 10px;
    padding: 10px 0px;
    border-radius: 25px;
    font-family: "Geometos";
}
.btnsi {
    background-color: #0c0f3d;
}
.btnno {
    background-color: #005fff;
}

/* Empresa: Modal confirmación */
.row-inf h4,
.row-inf2 h4 {
    width: 100%;
    font-size: 19px;
    line-height: 1.5;
    margin: 20px 0 15px;
    color: #0c0f3d;
    text-align: center;
    font-family: "Poppins";
}
.row-inf p,
.row-inf2 p {
    width: 100%;
    font-size: 15px;
    color: #707070;
    text-align: center;
}
.row-inf button {
    border: none;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 9px 42px;
    margin: 0 auto 20px;
    border-radius: 25px;
    font-family: "Geometos";
    background-color: #0c0f3d;
}
.group-validacion {
    margin: auto;
    overflow: hidden;
    width: fit-content;
    border-radius: 25px;
    justify-content: center;
}
.group-validacion input {
    border: none;
    font-size: 15px;
    max-width: 160px;
    padding-right: 35px;
    font-family: "Poppins";
    background-color: #d6d6d6;
}
.group-validacion input:focus,
.group-validacion input:active {
    outline: 0px;
    box-shadow: none;
    background-color: #d6d6d6;
}
.group-validacion button {
    border: none;
    z-index: 99;
    color: #fff;
    font-size: 12px;
    padding: 9px 42px;
    margin: 0 0 0 -20px;
    border-radius: 25px;
    font-family: "Poppins";
    background-color: #0c0f3d;
}
/* Modal bienvenida (promociones) */
.row-inf h4 {
    width: 100%;
    font-size: 19px;
    line-height: 1.5;
    margin: 20px 0 15px;
    color: #0c0f3d;
    text-align: center;
    font-family: "Poppins";
}
.row-inf p {
    width: 100%;
    font-size: 15px;
    color: #707070;
    text-align: center;
}
.row-inf button {
    border: none;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 9px 42px;
    margin: 0 auto 20px;
    border-radius: 25px;
    font-family: "Geometos";
    background-color: #0c0f3d;
}

/* Content image - no data */
.imagen__nodata {
    width: 250px;
    height: 250px;
}
.label-title_nodata {
    padding: 0;
    margin: 0;
}
.label-subtitle_nodata {
    padding: 0;
    margin: 0;
}
.nasbi__btn__login_empresa{
    background: #3474fc!important;
    border-color: #3474fc!important;
}
/* Skeleton */
.skeleton-post {
    /*width: 220px;*/
    height: 80px;
}
/*.skeleton-post*/
.skeleton-avatar {
    /*float: left;*/
    width: 52px;
    height: 52px;
    background-color: #ccc;
    border-radius: 25%;
    margin: 8px;
    background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40px, #f4f4f4 80px);
    background-size: 600px;
    animation: skeleton-shine-avatar 2s infinite ease-out;
}
/*.skeleton-post*/
.skeleton-line {
    /*float: left;*/
    /*width: 140px;*/
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40px, #f4f4f4 80px);
    background-size: 600px;
    animation: skeleton-shine-lines 2s infinite ease-out;
}
/*.skeleton-post*/
.skeleton-avatar + .skeleton-line {
    margin-top: 11px;
    width: 100px;
}
/*.skeleton-post*/
.skeleton-line ~ .skeleton-line {
    background-color: #ddd;
}

@keyframes skeleton-shine-lines {
    0% {
        background-position: -100px;
    }
    40%,
    100% {
        background-position: 140px;
    }
}
@keyframes skeleton-shine-avatar {
    0% {
        background-position: -32px;
    }
    40%,
    100% {
        background-position: 208px;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.menu_auth__username {
    text-transform: capitalize !important;
}
#bienvenida-promociones .row-inf button {
    margin: 0 auto;
}
.trans_44 {
    margin: 0;
    font-size: 15px;
    color: #ff103d;
    font-family: "Geometos";
}
.trans_45 {
    color: #232a85;
    font-size: 15px;
}
.imagen__nodata {
    margin-top: 50px;
}

.input-password-row {
    display: flex;
}
.div-inp-login{
    width: 70%;
}
.btn.btn-link.input__eye__btn {
    color: #0c0f3d;
    padding-right: 0;
    border-bottom: 1px solid #0c0f3d;
    border-radius: 0px;
    border-left: none;
}

.enlace_olvide_pass {
    font-size: 12px;
    text-decoration: underline black !important;
}

.olvideclave_contrase_empresa {
    margin-left: 10px;
}

/* ----------------------------- Medias Responsive ----------------------------- */
@media (max-width: 1130px) {
    .content-buttons button {
        padding: 0px 8px;
        font-size: 12px;
    }
    .content-buttons button img {
        width: 23px;
    }
    .crear-cuenta,
    .drop-crear-cuenta .dropdown-menu {
        width: 135px;
        min-width: 135px;
    }
    .drop-crear-cuenta .dropdown-item {
        font-size: 11px;
    }
}

@media (max-width: 991px) {
    .header-volver {
        padding: 15px;
    }
    .header-volver p {
        text-align: center;
    }
    .navbar {
        padding: 0px 30px;
        border-top: 1px solid #e6e3e3;
        border-bottom: 1px solid #e6e3e3;
    }
    .navbar-collapse {
        padding-bottom: 25px;
    }
    .nav-item {
        display: inherit;
    }
    .navbar-light .navbar-toggler {
        border: none;
        font-size: 25px;
        color: #501a9a;
        padding-right: 3px;
    }
    .navbar-light .navbar-nav .nav-link,
    .linkcarrito {
        width: 100%;
        border: none;
        height: inherit;
        font-size: 14px;
        margin-top: 15px;
    }
    .linkcarrito {
        width: max-content !important;
    }
    .navdropSubass {
        padding: 12px 30px !important;
    }
    .liLisDrop,
    .row-form-navbar {
        display: none;
    }
    .row-drop-responsive {
        display: inherit;
        margin-top: 25px;
    }
    .row-drop-responsive button {
        height: 40px;
        border: none;
        color: #fff;
        z-index: 2000;
        min-width: 100%;
        font-size: 14px;
        margin-top: 20px;
        border-radius: 25px;
        font-family: "Poppins";
    }
    .row-drop-responsive button:hover {
        color: #fff;
    }
    .row-drop-responsive button img {
        width: 30px;
    }
    .row-drop-responsive .dropdown {
        display: flex;
    }
    .row-drop-responsive .dropdown-menu {
        width: 100%;
        overflow: hidden;
        margin-top: 5px;
        position: absolute;
        padding: 12px 0px;
        border: 3px solid #501a9a;
        border-radius: 22px;
    }
    .row-drop-responsive .dropdown-menu a {
        color: #232a85;
        font-size: 13px;
        font-family: "Poppins";
    }
    .row-drop-responsive .dropdown-menu a:hover {
        color: #ff103d;
    }
    .menu-idioma {
        border: 3px solid #232a85;
    }
    .menu-dpto {
        border: 3px solid #ff103d;
    }
    .dropCat {
        background-color: #ff103d;
    }
    .dropIdioma {
        background-color: #232a85;
    }
    .group-resposive {
        height: 40px;
        border-radius: 25px;
        background-color: #fff;
        border: 2px solid #232a85;
    }
    .group-resposive .input-group-addon {
        cursor: pointer;
        padding: 0px 25px;
        border-radius: 25px;
        background-color: #fff;
    }
    .group-resposive input,
    .group-resposive select {
        border: none;
        font-size: 15px;
        border-radius: 30px;
        text-align: center;
        text-align-last: center;
    }
    .group-resposive select {
        color: #232a85;
        font-size: 14px;
        font-family: "Poppins";
    }
    .group-resposive input:focus,
    .group-resposive select:focus {
        outline: 0px;
        color: #232a85;
        box-shadow: none;
        border-color: transparent;
    }
    .group-resposive .input-group-addon i {
        color: #232a85;
        vertical-align: -webkit-baseline-middle;
    }
    .ul-redes-fixed {
        display: none;
    }
    .agregado-carrito button {
        padding: 10px 25px;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 0px 15px;
    }
    .row-drop-responsive {
        margin-top: 15px;
    }
    .input-login {
        width: 100%;
    }
    .div-inp-login{
        width: 100%;
    }
}

@media (min-width: 767px) {
    #modal-login .modal-dialog,
    #bienvenida-promociones .modal-dialog {
        max-width: 670px;
    }
}

@media (max-width: 575px) {
    .logo-modal {
        width: 180px;
        margin-left: -12px;
    }
    .olvideclave_contrase_empresa {
        margin-left: 0;
    }
    .captcha iframe {
        transform: scale(0.83);
        margin-left: -20px;
    }
    .enviar {
        margin-right: 0;
    }
    .input-login {
        width: 100%;
    }
    .content-modal .close {
        margin: 0.4rem -1rem -2rem auto !important;
    }
    .container-button-modal {
        display: grid;
        margin: 5px 0 10px;
    }
    .container-button-modal button {
        width: 100%;
        margin: 5px auto;
    }
    .textLgnn {
        margin: auto;
        text-align: center;
    }
    .img-capcha {
        margin: 20px 0;
    }
    .agregado-carrito button {
        padding: 10px 11px;
        font-size: 11px;
        margin: 15px 4px 20px;
    }
}

@media (max-width: 320px) {
    .header-volver p span {
        letter-spacing: 0px;
    }
}
