.row-header-resumen {
    padding: 100px 10px;
    background-size: 100% 125%;
    background-image: url("../imagen/fondo-escuela.png");
}
.row-header-resumen h2 {
    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: "Poppins";
}

.row-tabss {
    padding: 70px 0px;
    align-items: center;
    background-color: #f8f8f8;
}
.tab_resumen {
    padding: 70px 50px;
}
.row-tabss .nav-tabs {
    border: none;
    padding-left: 12px;
}
.row-tabss .nav-tabs .nav-link {
    border: none;
    width: 170px;
    color: #fff;
    font-size: 13px;
    margin-right: 20px;
    text-align: center;
    border-radius: 25px;
    font-family: "Poppins";
    justify-content: center;
    background-color: rgba(112, 112, 110, 0.7);
}
.row-tabss .nav-tabs .nav-link.active {
    background-color: #ea4453;
}
.card-negocio {
    width: 90%;
    cursor: pointer;
    padding: 40px 20px;
    margin: 50px auto 0;
    border-radius: 35px;
    background-color: #e7e7e7;
}
.card-negocio:hover {
    background-color: #1464e1;
}
.card-negocio:hover p {
    color: #fff;
}
.card-negocio:hover img {
    filter: brightness(0) invert(1);
}
.card-negocio p {
    font-size: 15px;
    color: #0c0f3d;
    margin: 0 0 -5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-negocio p b {
    font-size: 16px;
}
.card-negocio img {
    margin-bottom: 10px;
}

.group-filterr {
    padding-right: 12px;
    justify-content: flex-end;
}
.group-filterr .input-group-text {
    border: none;
    font-size: 13px;
    color: #232a85;
    border-radius: 0px;
    font-family: "Poppins";
    background-color: transparent;
}
.group-filterr .bootstrap-select .dropdown-toggle,
.row-selects .bootstrap-select .dropdown-toggle {
    z-index: 99;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #fff;
    /* border: 2px solid #232a85; */
}
.group-filterr .filter-option-inner-inner {
    font-size: 14px;
    color: #707070;
    font-family: "Poppins-normal";
    text-align: left !important;
}
.group-filterr .dropdown-menu {
    min-width: 100%;
    z-index: 9;
    margin-top: -18px;
    /* border: 2px solid #232a85; */
    border-radius: 3px 0 20px 20px;
    padding: 15px 0px 5px !important;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: 0px !important;
}
.group-filterr .dropdown-item {
    padding: 5px 15px;
    font-size: 13px;
    cursor: pointer;
    color: #232a85;
    white-space: normal;
    text-align: left;
    font-family: "Poppins";
}
.group-filterr .dropdown-menu a:hover {
    color: #ff103d;
    background-color: transparent;
}
.responsiv-tble {
    padding: 12px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 500px;
}
.responsiv-tble table thead th {
    top: 0;
    border: none;
    font-size: 15px;
    position: sticky;
    color: #040589;
    padding: 0px 8px 15px;
    text-align: center;
    font-weight: normal;
    font-family: "Poppins";
    background-color: transparent;
}
.responsiv-tble table tbody td {
    border: none;
    font-size: 15px;
    color: #707070;
    text-align: center;
    vertical-align: middle;
}
.td-name {
    color: #040589 !important;
    font-weight: bold !important;
}
.responsiv-tble table tr td:first-child {
    border-radius: 25px 0 0 25px;
}
.responsiv-tble table tr td:last-child {
    border-radius: 0 25px 25px 0;
}
.responsiv-tble table tr:nth-child(even) {
    background: rgba(112, 112, 112, 0.1);
}

/* Parte 2 */
.row-one-info {
    width: 70%;
    margin-right: auto;
    align-items: center;
    padding: 70px 70px 50px;
}
.row-one-info h4 {
    margin: 0px;
    color: #0c0f3d;
    text-align: left;
    font-family: "Poppins";
}
.row-one-info .return {
    margin: 8px 0 0;
    color: #0c0f3d;
    text-align: left;
}
.negocio-act {
    margin: 0;
    background-color: #1464e1;
}
.negocio-act p {
    color: #fff;
}
.negocio-act img {
    filter: brightness(0) invert(1);
}

.row-two-est {
    width: 90%;
    align-items: center;
}
.row-two-est h5 {
    margin: 0px;
    color: #232a85;
    text-align: left;
    font-family: "Poppins";
}
.row-two-est .group-filterr {
    padding-right: 0;
    margin-top: 0;
}

.row-three {
    width: 100%;
    display: flex;
    margin: 30px 0;
    padding: 5px 50px;
    background-color: #d1d1d1;
    justify-content: space-between;
}
.row-three :not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    border: none;
    background-color: #d1d1d1 !important;
}
.row-three .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-align: center;
}
.row-three .btn:not(:disabled):not(.disabled) {
    width: 220px;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    font-family: "Poppins";
    background-color: #d1d1d1 !important;
}

.row-four {
    margin-top: 70px;
}
.row-four h5 {
    margin: 0 0 40px;
    color: #232a85;
    text-align: center;
    font-family: "Poppins";
}
.row-four img {
    width: 70%;
}
.row-segund {
    align-items: flex-end;
}
.row-five {
    /* width: 90%; */
    margin: 60px 0 70px;
}
.row-five .group-filterr {
    justify-content: end;
    margin-bottom: 30px;
}
.responsive-carrito {
    max-height: 310px;
    overflow: auto;
    margin-top: 30px;
}
.table-negocio tbody tr {
    background: #ebebeb;
    border-bottom: 5px solid #ebebeb;
    border-top: 5px solid #ebebeb;
    line-height: 20px;
}
.table-negocio {
    border-spacing: 0px 20px;
    border-collapse: separate;
}
.table-negocio .btnTle {
    margin: 0;
}
.table-negocio tr:nth-child(even) {
    background: #f5f5f5;
}
.table-negocio tbody td {
    border: none;
    padding: 2px 4px;
    text-align: center;
    vertical-align: middle;
}
.table-negocio tr td:first-child {
    border-radius: 25px 0 0 25px;
}
.table-negocio tr td:last-child {
    border-radius: 0 25px 25px 0;
}
.container-photo .img-produt {
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    margin-top: 1.5px;
    min-height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #b1b1b1;
}
.img-produt {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    background: #ffffff;
}
.flex-name {
    align-items: center;
}
.flex-name p {
    max-width: 195px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt-numb {
    margin: 0;
    font-size: 13px;
    color: #707070;
}
.name-product {
    font-size: 12px;
    margin-left: 8px;
    margin-bottom: 0;
    color: #eb4454;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Poppins";
}
.visits {
    margin: 0;
    font-size: 11px;
    color: #707070;
}
.text-gry {
    margin: 0;
    color: #707070;
    font-size: 14px;
}
.btnTle {
    width: 100%;
    border: none;
    color: #fff;
    display: block;
    font-size: 10px;
    padding: 10px 0px;
    margin: 8px auto 0;
    border-radius: 25px;
    font-family: "Geometos";
    background-color: #232a85;
}
.td1 {
    width: 30%;
}
.td2 {
    width: 20%;
}
.td2 p {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}
.td3 {
    width: 10%;
}
.td4 {
    width: 15%;
}
.td4 p {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}
.td5 {
    width: 30%;
}
/* agregado por gisselt */
.tab_estadistica .nav-link {
    margin-left: -207px;
}
.row-three .bootstrap-select {
    width: auto;
}
.content-grafica-resumen .col-3 {
    padding: 0;
}
.row-three .dropdown-menu {
    z-index: 9999;
    min-width: 100%;
    border-radius: 20px;
    border: 2px solid #232a85;
    padding: 10px 0px !important;
}
.row-three .dropdown-item {
    padding: 5px 15px;
    font-size: 13px;
    cursor: pointer;
    color: #232a85;
    white-space: normal;
    text-align: left;
    font-family: "Poppins";
}
.row-three .dropdown-menu a:hover {
    color: #ff103d;
    background-color: transparent;
}
.btn_atras_referidos {
    margin-left: 85px !important;
    margin-right: auto !important;
}
.nodata p {
    margin: 0 auto;
    color: #eb4454;
    font-size: 16px;
    font-family: "Poppins";
}
#legend {
    padding: 0;
}
#legend ul,
#legend2 ul {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
}
#legend ul li,
#legend2 ul li {
    border: none;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 25px;
    text-overflow: ellipsis;
    font-family: "Geometos";
}
#nav-historial h4 {
    font-family: "Poppins";
    text-align: left;
    margin: 40px 20px 0 10px;
    color: #ff103d;
}

/* ---------------------------------- Medias Responsives ---------------------------------- */
@media (max-width: 1130px) {
    .card-negocio {
        padding: 40px 0;
    }
    .row-three {
        padding: 5px 33px;
    }
    .row-one-info {
        width: 80%;
    }
    .row-five {
        width: 100%;
    }
    .trans250_ {
        margin-top: 70px !important;
    }
}

@media (max-width: 991px) {
    .row-tabss .nav-tabs .nav-link {
        width: 140px;
    }
    .row-one-info {
        width: 95%;
    }
    .table-negocio {
        width: 1000px;
        overflow: auto;
    }
    .tab_resumen {
        padding: 70px 15px;
    }
}

@media (max-width: 850px) {
    .row-one-info {
        width: 100%;
        padding: 70px 40px 50px;
    }
}

@media (max-width: 767px) {
    .row-header-resumen {
        background-size: cover;
    }
    .responsiv-tble table {
        width: 750px;
        overflow: auto;
    }
    .row-tabss .nav-tabs {
        justify-content: center;
    }
    .group-filterr {
        padding-right: 0px;
        justify-content: center;
        margin-top: 30px;
    }
    .row-tabss .nav-tabs .nav-link {
        width: 45%;
        margin: auto;
    }
    .row-one-info {
        padding: 70px 20px 50px;
    }
    .row-three {
        padding: 5px;
    }
    #myChartVS,
    #myChartResumen {
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    .row-header-resumen {
        padding: 50px 10px;
    }
    .row-header-resumen h2 {
        font-size: 23px;
    }
    .row-tabss {
        padding: 70px 20px;
    }
    .card-negocio {
        margin: 40px auto 0;
    }
    .responsiv-tble {
        padding: 12px 0;
    }
    .row-one-info {
        padding: 25px 20px 30px;
    }
    .row-one-info h4,
    .row-one-info p,
    .row-two-est h5 {
        text-align: center !important;
    }
    .card-negocio {
        margin: 40px auto 20px;
    }
    .row-five {
        margin: 0px 0 70px;
    }
    .row-four h5 {
        margin: 0 0 25px;
    }
    .row-four img {
        margin-bottom: 40px;
    }
    .row-five .group-filterr {
        margin-top: 15px;
        justify-content: center;
    }
    .row-three .btn:not(:disabled):not(.disabled) {
        width: 100%;
    }
    .group-filterr .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
    .row-two-est {
        width: 100%;
    }
    .trans250_ {
        margin-top: 45px !important;
    }
}
